@media only screen and (min-width: 768px) {

    .container {
        width: 80%;
    }

    header {
        z-index: 1;
        font-size: small;
        width: 30%;
        margin-left: 25px;
    }

    nav {
        background-color: transparent;
        z-index: 2;
        width: 50%;
        margin-top: 20px;
        font-size: small;
        margin-right: 15px;
    }

    nav ul {

        display: flex;
    }

    nav li {
       margin: 3px ;
    }

    .first {
        border-color: white;
    }
    
    .second {
        color:white;
    }
    
    .intro {
        margin-top:0;
    }

    .intro1 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container1 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        position: absolute;
        margin-top:0px;
    }

    header {
        margin-bottom: 0;
        flex-wrap: nowrap;
    }
    .read {
        width: 100%;
        position: absolute;
        flex-wrap: wrap;
        margin-left:0;
        margin-right:0;
    }

    .intro p {
        position: relative;
        margin-top: 40px;
        width: 100%;
        font-size: 30px;
    }

    button {
        margin-top: 140px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 46px;
        padding-right: 46px;
    }

    .intro1 p {
        font-size: 1.7em;
    }

    .c {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: left;
    }

    .someclass {
        display: flex;
    }

    .c1 {
        width: 45%;
    }
    .image2 {
        width:55%
    }

    .firstSection img {
         margin-bottom:0;
        }

    .firstSection {
        width: 80%;
    }

    .group {
        margin-left: 110px;
        position: absolute;
        margin-top: 40px;
    }

    .c {
        width: 100%;
    }

    .c h3 {
        line-height: 60px;
    }

    .group h4 {
        width: 100%;
        font-size: small;
    }

    .content {
        margin-bottom: 0px;
        width: 100%;
    }

    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .box img {
     height: 100%;
     width: 100%;
     margin-top: 10%;
    }

    .commonContent {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    .stars {
        margin-top: -10px;
    }

    .content img {
        margin-top: 30px;
    }

    iframe {
        width: 100%;
    }
    .secondSection {
        width: 80%;
    }

    .fourthSection {
        width: 90%;
        margin-top: 60px;
    }
    
    .div {
        margin-top: 15%;
    }
    .div h3 {
        font-size: 1.2em;
    }

    .icons {
        margin-bottom: 1em;
    }

    .divOne img {
        width: 2em;
        height: 2em;
    }
    
    .divOne p {
        width: 8em;
        font-size: 1.2em;
    }
    
    .divSecond img {
        width: 2em;
        height: 2em;
    }

    .location {
        display: flex;
        justify-content: center;
        text-align: justify;
    }

    .location ul {
        width: 80%;
        padding: 0px;
        margin-left: 0%;
        margin-bottom: 2em;
        margin-top: 1em;
        font-size: 1.3em;
        
    }
 
    .location img {
        height: 1.2em;
        width: 1.2em;
        margin-top: -1em;
    }
 
    .form1 {
        display: flex;
        justify-content: space-between;
    }

    textarea {
        width: 100%;
    }
    
    input {
        width: 30%;
    }
    
    .submit {
        margin-right:70%;
    }
}