* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: 'fontAwesome';
    src: url(../fonts/fontawesome-webfont.ttf), url(../fonts/fa-brands-400.ttf);
  }
  @font-face {
    font-family: 'robotoBold';
    src: url(../fonts//Roboto-Bold.ttf);
  }
  @font-face {
    font-family: 'robotoMedium';
    src: url(../fonts/Roboto-Medium.ttf);
  }
  @font-face {
    font-family: 'robotoRegular';
    src: url(../fonts/Roboto-Regular.ttf);
  }
  @font-face {
    font-family: 'robotoThin';
    src: url(../fonts/Roboto-Thin.ttf);
  }
body {
    background-color: lightgrey;
    font-family: "RobotoRegular", sans-serif;
}

.container {
    display: flex;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
    display: wrap;
    flex-wrap: wrap;
    position: relative;
}

.container1 {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}
.first {
    color: coral;
    border-color: grey;
    border: 3px solid gray;
    border-right: none;
    margin-right: 5px;
}

.second {
    color: grey;
 }

header {
    display: flex;
    margin-bottom: 10px;
    margin-top: 20px ;
    flex-wrap: wrap;
    justify-content: center;
}

nav {
    background-color: lightskyblue;
    width: 80%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    text-transform: uppercase;
    margin-left:-30px;
}

nav a {
    line-height: 35px;
    color: white;
    text-decoration: none;
}

a:hover {
    color: purple;
}

img {
   width: 100%;
   height: 100%;
}

.intro {
    margin-top: 10%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: aquamarine;
    width: 100%;
    max-height: max-content;
    
}
.read {
  
    width: 90%;
    display: flex;
    _flex-wrap: wrap;
    _margin-left: -80%;
    justify-content: center;
    _margin-right: 20%;
    _margin-bottom: 15%;
    margin-top: 16%;
    position: absolute;
    height: 40%;
    
}

.intro1 {
    display: flex;
    width: 125%;
    
    
}
.intro p {
    text-align:center ;
    
}

button {
    background-color: rgb(35, 98, 216);
    color: white;
    border-radius: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 22px;
    padding-right: 22px;
    border-style: hidden;
    margin-top: 25%;
    position: absolute;
   
}

.third {
    text-transform: capitalize;
}

.firstSection {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.firstSection h3 {
    color: rgb(42, 109, 196);
    text-transform: capitalize;
    
}

.border {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.line {
    height: 2px;
    width: 30px;
    border-top: 1px solid black;
}

.square {
    height: 15px;
    width: 15px;
    border: 2px solid black;
    transform: rotate(50deg);
    margin: 0 10px;
}

.firstSection img {
    width: 100%;
    margin-bottom: 2em;
}

.firstSection ul {
    list-style-image: url(./images/arrow_bullet.png);
    text-transform: capitalize;
    list-style-position:outside;
    margin: -20px;
}

.secondSection {
    margin-top: 60px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.titlle {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.secondSection h1 {
    text-transform: capitalize;
}

.secondSection p {
    margin-left: 20px;
    line-height: 35px;
    margin-bottom: 30px;
}

.content {
    background-color: hsl(197, 100%, 50%);
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

   
}

.content img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    border-style: solid;
    padding: 2px;
    margin-top:10%;
}
.group {
    margin-top: 10%;
    margin-right: 25%;

}

.group h4 {
    width: 100%;
}

.commonContent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.content h4 {
    color: black;
    text-transform: uppercase;
    margin-left: 10%;
}

.stars {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

svg {
    width: 20px;
}

path {
    fill: white;
}

.thirdSection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 60px;
    height: fit-content;
}

.thirdSection h1 {
    text-transform: capitalize;
    width: 80%;
}

.contentSecond {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    
}

.div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 3em;
}
.divOne {
    background-color: rgb(43, 226, 147);
    width: 50%;
    color: white;
    display: flex;
    height: 50%;
    flex-wrap: wrap;
    justify-content: center;
   
}

.divOne h3 {
    text-transform: uppercase;
    text-align: center;
   
}

.divOne img {
    width: 1.4em;
    height: 1.4em;
    margin-right: 1em;
}

.divOne p {
    width: 10em;
    text-align: center;
}

.icons {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
   

}

.a {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
    
}

.divSecond {
    background-color: rgb(233, 50, 123);
    width: 50%;
    color: white;
    display: flex;
    height: 50%;
    flex-wrap: wrap;
    
   
}

.divSecond h3 {
    text-align: center;
    text-transform: uppercase;
}

.divSecond img {
    width: 1.4em;
    height: 1.4em;
}

.icons1 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.divThird {
    background-color: rgb(46, 76, 181);
    width: 50%;
    height: 50%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.divThird h3 {
    text-transform: uppercase;
    width: 100%;
    text-align: center;

}

.location ul {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    padding: 0px;
    margin-left: 10%;
    margin-bottom: 2em;
    margin-top: 1em;
}

.location li {
    list-style-type: none;
    text-align: center;
}

.location img {
    height: 20px;
    width: 22px;
}

.divFour {
    background-color: skyblue;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.divFour img {
    width: 100%;
    height: 100%;
   
}

iframe {
    max-width: 100%;
}

.fourthSection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 60px;
    
}

.fourthSection h1 {
    text-transform: capitalize;
}

form {
    width: 90%;
    margin: 0 auto;
    _background-color: blueviolet;
    text-align: center;
    margin-bottom: 10%;
}

input {
    height: 60px;
    width: 90%;
}

textarea {
    width: 90%;
}

.submit {
    width: 30%;
    background-color: orange;
    color: white;
    border: 0;
    margin-right:60%;
    padding: 10px 2px;
    height: fit-content;
   
    
}

footer {
    display: flex;
    background-color:black;
    justify-content: center;
    height: 180px;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

footer a {
    color: white;
}

footer li {
    list-style-type: none;
    flex-grow: 2;
}

footer ul {
    display: flex;
    width: 90%;
    margin-top: 50px; 
    text-align: center;
    flex-wrap: wrap;
    padding: 0;
}

.theEnd {
    color: white;
    width: 100%;
    margin-bottom: 3em;
}

.theEnd ul {
    width: 100%;
    
}

footer img {
    width: 13px;
    height: 13px;
    margin-top: 1%;
    margin-right: 1%; 
}


footer a {
    text-decoration: none;
}

@media only screen and (max-width: 450px) {
    

.divOne p {
    font-size:0.7em;
}
.divThird ul {
    font-size: 0.8em;
}

}