@media only screen and (min-width: 768px) {

    .container {
        width: 80%;
    }

    .container1 {
        width: 100%;
        display: flex;
        justify-content: space-between;

    }

    header {
        z-index: 1;
        font-size: small;
        width: 30%;
        margin-left: 25px;
    }

    nav {
        background-color: transparent;
        z-index: 2;
        width: 50%;
        margin-top: 20px;
        font-size: small;
        margin-right: 15px;
        
      
      
    }

    nav ul {

        display: flex;
       
       
    }

    nav li {
       margin: 3px ;
      
    }
   



    .first {
        border-color: white;
    }
    
    .second {
        color:white;
     }
    .intro {
        margin-top: 150px;
    }
  
    
    img {
        margin-top: -70px;
    }

    button {
        margin-top: 220px;
    }
   
    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .box img {
     height: 100%;
     width: 100%;
     margin-top: 10%;
    }

    .commonContent {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 10px;
        flex-grow: 2;
    }

    .content img {
        margin-top: 30px;  
    }

    .content h4 {
        margin-top: -70px;
        margin-left: 135px;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-between;
    }

    input {
        width:210px;
        margin-bottom: 10px;
    }

    .submit {
        margin-top: 10px;
        margin-right: 485px;
    }




        
    }